extends ../../layouts/default.pug

block main 

    h1 Danh mục sản phẩm

    .card.mb-3 
        .card-header Danh sách
        .card-body    
            .row
                .col-6
                .col-6
                    a(
                        href=`${prefixAdmin}/products-category/create`
                        class="btn btn-outline-success mb-3"
                    ) &plus; Thêm mới
